/* * header ------------------------------------------- */

.header__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #ffff;
}
.header__logo {
  justify-content: center;
  align-items: center;
  display: flex;
}
.header__logo-link {
  color: #000;

  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  text-transform: capitalize;
}
.header__logo-link img {
  background: url(../icons/logo.png), cover no-repeat;
  max-width: 18.675px;
  max-height: 20px;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.header__links {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header__link {
  font-family: "Kanit", sans-serif;
  text-align: center;
  color: #081e34;
  font-size: 14px;

  padding: 10px 12px;
  margin-right: 15px;
}
.header__link a {
  text-decoration: none;
  color: #081e34;
  font-family: "Kanit", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.header__button {
  color: #081e34;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 100px;
  background: rgba(8, 30, 52, 0.05);
  padding: 10px 12px;
  border: none;
  cursor: pointer;
}
.header__button:hover {
  background: rgba(8, 30, 52, 0.08);
}
.header__button:focus {
  background: rgba(8, 30, 52, 0.12);
}
